# Load any .envrc files all the way till /
source_up

# Load .env file if exists
dotenv_if_exists

# Load environment specific overrides if exists
test -f ".env.${APP_ENV}" && dotenv ".env.${APP_ENV}"

# Load local overrides if exists
test -f .env.local && dotenv .env.local

# Set Kubernetes configuration
export KUBECONFIG="$HOME/.kube/config"

# Optional verification
# AKIAZVM65CKVWZL5HI6C  --access
# UDZpwJNXWjL3Xqgz9Tre8pdfVm/dvJ8P0IhEXppW  ---secret
echo "direnv: KUBECONFIG set to $KUBECONFIG"